<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@kevin_london" />
<meta name="twitter:creator" content="@kevin_london" />
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
<meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<meta name="twitter:description" content="{% if page %}{{ page.excerpt | escape | truncate: 160 }}{% endif %}">
{% if page.thumbnail %}
  <meta name="twitter:image:src" content="{{ site.url }}/{{ page.image }}">
{% else %}
  <meta name="twitter:image:src" content="https://s.gravatar.com/avatar/c1428d36c91a53a1e4c39fb2c7ceff15">
{% endif %}


