---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kevin London">
	<main>
		<h1>Welcome to Kevin London's Website</h1>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: 800px;
	}
</style>
